
.container{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman' ;
    background-color: #333333;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}
h3{
  font-size: 25px;
  color: white;
}

.contact{

      ul{
        list-style: none;
        li{
          font-size: 18px;
        }
      }
    a{
      text-decoration: none;
      color: #b0a999;
    }
}


.footer-Nav{
  
    ul{
        list-style: none;
        li{
          font-size: 18px;
        }
    }
    a{
      text-decoration: none;
      color: #b0a999;
    }
  
}

 .social-icons{
    text-align: center;

      ul{
        list-style: none;
           li{
            font-size: 25px;
            
           }
           a{
            color: #787d66;
           }
      }
         
 }

 
 .bottom-bar{
    background-color:#787d66;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;


 }
 .bottom-bar p{
  margin: 0;
  padding: 0;
  
 }
 @media screen and (max-width: 480px){
  h3{
    font-size: 20px;
  }
  .icons{
    display: flex;
    flex-direction: row;
  }

 }
  
 
