/* Mobile-first styles */

body {
  padding: 0;
  margin: 0;
  header {
    background-color: aqua;
  }
  .products {
    background-color: bisque;
    #all-filters {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1000;
      overflow-y: auto;
      box-sizing: border-box;
      padding: 1em;
      background-color: #787d66;
      .close-button {
        display: block;
        text-align: right;
        font-size: 15px;
        cursor: pointer;
      }
      .filter {
        margin: 1rem;
        padding: 1rem;
        fieldset {
          .checked {
            color: orange;
          }
        }
      }
      #apply-filter {
        display: none;
      }
    }
    #toggle-aside:checked ~ #all-filters {
      display: block;
    }
    main {
      .filter-button {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        z-index: 1001;
        cursor: pointer;
      }
      .all-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: blue;
        .card {
          height: auto;
          width: auto;
          margin: 0.5em;
          padding: 1em;
          border-radius: 40px 40px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
            rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
          background-color: aquamarine;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .flip-card {
            height: auto;
            .flip-card-front {
              display: flex;
              justify-content: center;
              img {
                width: 300px;
                height: auto;
                object-fit: cover;
                
              }
            }
            .flip-card-back {
              p {
                display: none;
              }
            }
          }
          .author-purchase {
            width: 120px;
            margin: 0;
            display: flex;
            justify-content: space-between;
            border: solid;
          }
          .info-shop-btn {
            background-color: black;
          }
        }
      }
    }
  }
  footer {
    background-color: black;
  }

  /* developing pc's version */
  @media screen and (min-width:769px) {
    padding: 0;
    margin: 0;
    header {
      background-color: black;
    }
    .products {
      display: flex;
      #all-filters {
        position: relative;
        display: block;
        z-index: 0;
        overflow-y: hidden;
        width: 37rem;
        height: auto;
        .close-button {
          display: none;
        }
      }
      main {
        .filter-button {
          display: none;
        }
      }
    }
    footer{

    }
  }
}
